<form [formGroup]="rentForm" (ngSubmit)="getPercRent()">
    <div>
    <label for="year-one-sales">Year One Sales: </label>
    <input id="year-one-sales" type="text" formControlName="yearOneSales">
    </div>
    <div>
    <label for="base-rent-1to5">Base Rent Years 1 to 5: </label>
    <input id="base-rent=1to5" type="text" formControlName="baseRent1to5">
    </div>
    <div>
    <label for="base-rent-6to10">Base Rent Years 6 to 10: </label>
    <input id="base-rent-6to10" type="text" formControlName="baseRent6to10">
    </div>
    <div>
    <label for="tier1-perc"> Tier 1 Rent Percentage</label>
    <input id="tier1-perc" type="text" formControlName="tier1Perc">
    </div>
    <div>
    <label for="tier2-perc"> Tier 2 Rent Percentage</label>
    <input id="tier2-perc" type="text" formControlName="tier2Perc">
    </div>
    <div>
    <label for="tier3-perc"> Tier 3 Rent Percentage</label>
    <input id="tier3-perc" type="text" formControlName="tier3Perc">
    </div>
    <div>
    <label for="annual-growth-perc"> Annual Growth Percentage</label>
    <input id="annual-growth-perc" type="text" formControlName="annualGrowthPerc">
    </div>
    <input type="submit" value="Submit">
</form>
<div>
    <p>results: {{percRent.PercRentTier1}}</p>
    <p>results: {{percRent.PercRentTier2}}</p>
    <p>results: {{percRent.PercRentTier3}}</p>
    <p>results: {{percRent.TotalPercRent}}</p>
</div>